<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
  </style>
  <body>
  </body>
</html>

<!--
  Hello, my name is:
                         __     _    __              ___ __
      ____  ____ ___  __/ /    (_)  / /______ ______/ (_) /__
     / __ \/ __ `/ / / / /    / /  / //_/ __ `/ ___/ / / //_/
    / /_/ / /_/ / /_/ / /    / /  / ,< / /_/ / /  / / / ,<
   / .___/\__,_/\__,_/_/  __/ /  /_/|_|\__,_/_/  /_/_/_/|_|
  /_/                    /___/

  I am a UI Architect, front-end developer, designer and all around computer nerd.

  I work building and defining unique interfaces with reproducable code that guide, engage,
  and respond to a user. I identify standards and solutions that are appropriate to our
  environment, evangliaze and drive technology, and generally make things that are pretty.

  contact: https://www.linkedin.com/in/paul-karlik-872aa724
-->
